<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Table -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="table.presentation.TableModelWizardID"
            name="%_UI_TableModelWizard_label"
            class="table.presentation.TableModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TableModelFile.gif">
         <description>%_UI_TableModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Table -->
      <editor
            id="table.presentation.TableEditorID"
            name="%_UI_TableEditor_label"
            icon="icons/full/obj16/TableModelFile.gif"
            extensions="table"
            class="table.presentation.TableEditor"
            contributorClass="table.presentation.TableActionBarContributor">
      </editor>
   </extension>

</plugin>
